<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body style="background-color:black;">>
<div align="center">
	<br/>
		<br/>
			<br/>
			
    <h1 style="color:white" >Create New ToDo Item</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/save}" th:object="${student}" method="post">
      	
 		<div alight="left">
            <tr>
                <label style="color:white" class="form-label" >Title</label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{title}" class="form-control" placeholder="Complete the package." />
                </td>
            </tr>
            			<br/>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label style="color:white" class="form-label" >Target Date</label>
                <td><input type="text" th:field="*{targetdate}" class="form-control" placeholder="01/01/2021" /></td>
            </tr>
            </div> 
            			<br/>
            <div alight="left">
                 <tr>
                 <label style="color:white" class="form-label" >status</label>
                 <td><input type="text" th:field="*{status}" class="form-control" placeholder="False" />
                 </td>
            </tr>
            </div> 
						<br/>
			
			<tr>
            <td colspan="1"><button type="reset" class="btn btn-info">Reset</button> </td>
            </tr>
			<tr>
            <td colspan="2"><button type="back"  class="btn btn-info">back</button></td>
            </tr>
            <tr>
            <td colspan="3"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>